h3.home-content {
    font-size: 222%;
    text-align: center;
    margin-bottom: 2em;
    margin-top: 1em;

}
div#container {
    margin: 0 auto;
    height: 20em;
    min-width: 20em;
    max-width: 30em;
    margin-bottom: 2em;
}

div.hot-blog1{
    margin-top:1em;
    text-align:left;
    position:absolute;
    margin-left:27%;
}
div.hot-blog2{
    margin-top:1em;
    text-align:left;
    position:absolute;
    margin-left:38%;
}div.hot-blog3{
    margin-top:1em;
    text-align:left;
    position:absolute;
    margin-left:50%;
}